--style=kr
--indent=spaces=4
--indent-classes
--indent-switches
--indent-cases
--indent-preproc-block
--indent-preproc-define
--indent-col1-comments
--pad-oper
--unpad-paren
--align-pointer=middle
--align-reference=middle
--convert-tabs
--max-code-length=120
--break-after-logical
--break-closing-braces
--attach-closing-while
--min-conditional-indent=0
--max-continuation-indent=120
--mode=c
# Позволяет каждой платформе использовать свои собственные окончания строк.  Тогда это делает
# что Git делает «из коробки»: использует конечные строки платформы в
# рабочий каталог, но в репозитории использует только окончания строк LF.
# `astyle` также изначально использует строки, которые он находит в файлах,
# так что это будетLF-только в Linux иCR/LFв Windows, по согласованию
# с поведением Git по умолчанию. Это оригинальное изменение `astyle`.
# Каждый исходный файл, который Git воспринимает как изменение на платформах Windows.
#--lineend=линукс
--suffix=none
--preserve-date
--formatted
--ignore-exclude-errors
--ignore-exclude-errors-x
--exclude=assets
--exclude=test_assets
--exclude=test_fonts
--exclude=../src/lv_conf_internal.h
--exclude=../src/core/lv_obj_style_gen.c
--exclude=../src/core/lv_obj_style_gen.h
--exclude=../src/libs/gif
--exclude=../src/libs/frogfs
--exclude=../src/libs/lodepng/lodepng.c
--exclude=../src/libs/lodepng/lodepng.h
--exclude=../src/libs/qrcode/qrcodegen.c
--exclude=../src/libs/qrcode/qrcodegen.h
--exclude=../src/libs/tjpgd/tjpgd.c
--exclude=../src/libs/tjpgd/tjpgd.h
--exclude=../src/libs/tjpgd/tjpgdcnf.h
--exclude=../src/libs/thorvg
--exclude=../src/libs/expat
--exclude=../src/libs/lz4
--exclude=../src/libs/FT800-FT813
--exclude=../src/drivers/opengles/glad
--exclude=../src/others/vg_lite_tvg/vg_lite.h
--exclude=../demos/high_res/fonts
--exclude=../tests/unity/unity.c
--exclude=../tests/unity/unity_internals.h
--exclude=../tests/unity/unity_support.c
--exclude=../tests/unity/unity_support.h
--exclude=../tests/test_images
--exclude=../tests/build_test_defheap
--exclude=../tests/build_test_sysheap
--exclude=../tests/build_test_vg_lite
--exclude=../tests/build_test_perf32b
--exclude=../tests/build_test_perf64b
