**/squareline/backup/**
**/squareline/autosave/**
components/lvgl/**

# ESP-IDF / CMake build artifacts
/build/
/build_*/
/.cache/

# Generated local config backup
/sdkconfig.old

# Local Python/package artifacts
*.pyc
__pycache__/
*.whl
